* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(126, 184, 162);
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
form {
  width: 60%;
  margin: 4rem auto;
  text-align: center;
}
#form__add-btn {
  background-color: blue;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
}
#form__add-btn:hover {
  cursor: pointer;
}
h1 {
  color: white;
  margin: 3.75rem auto;
  text-align: center;
}
.container > div {
  width: 20%;
  background-color: #fff;
  margin-top: 1rem;
  text-align: center;
}
.container > div h2 {
  padding: 1.25rem;
}
#inProgress h2 {
  background: orange;
}
#onHold h2 {
  background: red;
}
#review h2 {
  background: yellow;
}
#approved h2 {
  background: green;
}
ul {
  min-height: 15.625rem;
  list-style: none;
}
li {
  padding: 1.25rem;
  border: 1px solid grey;
}
input[type="text"] {
  padding: 10px 1.25rem;
  width: 55%;
}
button {
  padding: 10px 1.25rem;
  color: #000;
}

@media (max-width: 1200px) {
  .container > div {
    width: 24%;
  }
}

@media (max-width: 992px) {
  .container > div {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .container > div {
    width: 100%;
  }
}
